[Unit]
Description=Reading Room
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/reading-room
ExecStart=/usr/bin/java -Xmx256m -cp /usr/local/lib/reading-room/reading-room.jar clojure.main -m reading-room.core /etc/reading-room.edn
User=reading-room

[Install]
WantedBy=multi-user.target